c++98/tmsApp/objs/*
c++98/tmsAppTest-SimMSM/objs/*
c++98/tmsApp/cpp/*~
c++98/tmsAppTest-SimMSM/cpp/*~
c++98/tmsApp/cpp/#*
c++98/tmsAppTest-SimMSM/cpp/#*
python/*~
python/.#*
python/#*
python/__pycache__/*
python/venv/*

